body{
    text-align: center;
    background-color: rgb(133, 158, 190);
   margin: auto;
}

main{
    margin: auto;

}

h1{
    font-size: 6em;
    font-family: 'Fredoka One', cursive;
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

header{
    padding-bottom: 20px;
}