body{
    text-align: center;
    background-color: rgb(133, 158, 190);
     margin: auto;
}

main{
    /* margin: auto; */
    display: flex;
    /* max-width: 960px; */
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 6em;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Fredoka One', cursive;
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

h2{
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

p {
    padding-top: 20px;
    width: 200px;
    margin: auto;
    text-align: left;
    
}

header{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   
}

button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: sans-serif;
}

select{
    font-family: sans-serif;
}