img{
    width: 200px;
    height: auto;
    /* float: left; */
}

section:not(#photo-template){
    width: 300px;
    height: 425px;
    float: left;
    padding: 2px;
    margin: 5px;
    border: 3px solid black;
    text-align: center;
    background-color: lightpink;
}